<h1><%= @mechanic.name %></h1>

<p>
  <%= @mechanic.years_of_experience%> <span>years of experience</span>
</p>

<h2>Current rides they're working on:</h2>

<div>
<% @mechanic.rides.each do |ride| %>
  <p>
    <%= ride.name%>
  </p>
<% end %>
</div>

<h3>Add a ride to workload:</h3>

<%= form_tag "/mechanics/#{@mechanic.id}", method: :post do %>
<%= label_tag :ride_id %>
<%= number_field_tag :ride_id %>
<%= submit_tag 'Submit' %>
<% end %>