<h1><%= @amusement_park.name %></h1>


<p>Admissions: <%= @amusement_park.admission_price %></p>

<h2>Rides:</h2>

<ol type="1">
  <%= @amusement_park.ride_alphabetically_sort.each do |ride_sort| %>
  <li><%= ride_sort.name %></li>
    <% end %>
</ol>

<p>
  Average Thrill Rating of Rides: <%= @amusement_park.average_rating %>/10
</p>
